@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

ul {
    padding-left: 2em;
    list-style-position: inside;
}

html, body {
    background-color: rgb(250, 250, 250);
    background-image: url(../img/bg.png);
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    font-weight: 200;
}

.subtitle,
.subtitle--align-right {
    font-style: italic;
    background: rgba(255,255,255,.4);
    padding: .2rem;
}

.subtitle img,
.subtitle--align-right img {
  max-width: 20px;
  margin:0 .5rem;
}

.subtitle--align-right {
  text-align: right !important;
}

#content {
    padding: 20px;
}

@media (max-width: 767px) {
    #content {
        padding: 4px;
    }
}

#content p {
    text-indent: 2em;
    text-align: justify;
}

.title {
    color: #970000;
    letter-spacing:-2px;
    font-weight:800;
    text-shadow:0 1px 0 rgba(255,255,255,.4);
}

.title a {
  color: inherit;
}

.subtitle {
    margin-top: -10px;
    opacity: 0.7;
}

h2 {
    color: #970000;
    text-shadow:0 1px 0 rgba(255,255,255,.4);
    letter-spacing:-2px;
    font-weight:300;
}

h3 {
    color: #970000;
    text-shadow:0 1px 0 rgba(255,255,255,.4);
    letter-spacing:-2px;
    font-weight:200;
}
.team tr td {
    vertical-align: top;
    width: 25%;
}
.team h4 {
    font-size: 1.1em;
}
.avatar {
    width: 100%;
}

.projects img {
  max-width: 600px;
  box-shadow: 2px 2px 7px #aaa;
}

.projects article {
  margin-bottom: 2em;
}

.face {
    margin: 8px;
    border: 1px solid silver;
    float: right;
}   
.face-left {
    float: left;
}   
